*.swp
.github.recovery.store
.google.recovery.store
.lp.store
.muttrc
.viminfo
LS_COLORS
config
dbsettings.inc.ph
ksu-vpn.conf
pengwynn-dotfiles*
pidgin_*
vendor/bundle\n.DS_Store
vim_configs/*
what_was_i_doing.md
z
.nvim/plugged/*
.bundle/cache/*
